**/.dockerignore 
**/.git 
**/.cache 
**/.gitignore 
**/.vscode 
**/coverage 
**/.env 
**/.aws 
**/.ssh 
**/Dockerfile 
**/docker-compose.yml 
**/.DS_Store 
**/venv 
**/env
**/.pytest_cache
**/*.db 
#**/*-secret*.* 
#**/logs 
#**/*.md 
**/README.md 
#**/node_modules 
#**/*.class 
